[Unit]
Description=Certificate Expiration Checker
After=network.target

[Service]
Type=simple
User=%i
WorkingDirectory=/home/%i/certcheckr
ExecStart=/usr/bin/python3 /home/%i/certcheckr/certcheckr.py --daemon
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 